<!doctype html>
<html>
<head><title>sample-report-v2</title>
<style type="text/css">

body {margin:0;padding:10%;font:16px 'Arial';}

#page {position:relative; overflow: hidden;width: 620px;}

h1 {padding-left: 2px;margin-top: 0px;margin-bottom: 0px;font: 25px 'Arial';color: #17365d;line-height: 30px;}
h2 {font: bold 21px 'Arial';color: #345a8a;line-height: 24px;}
h3 {font: bold 17px 'Arial';color: #4f81bd;line-height: 19px;}
ul {line-height:28px}
ul ul {list-style: none}

.ft1{font: italic 19px 'Arial';color: #345a8a;line-height: 15px;}
.ft2{font-weight: bold;line-height: 19px;}
.ft6{white-space: nowrap;}
.ft8{font-weight: bold;line-height: 19px;white-space: nowrap;}
.ft9{font: 15px 'Arial';line-height: 17px;white-space: nowrap;}
.ft15{font-weight: bold;line-height: 17px;white-space: nowrap;}
.ft16{font: 16px 'Symbol';line-height: 29px;}
.ft17{line-height: 27px;}
.ft30{background-color:#FF0000;color:#FFFFFF}
.ft31{background-color:#FFFF00}
.ft32{background-color:#00FF00}

.p0{padding-left: 2px;margin-top: 0px;margin-bottom: 0px;}
.p1{padding-left: 2px;margin-top: 40px;margin-bottom: 0px;}
.p2{padding-left: 2px;margin-top: 3px;margin-bottom: 0px;}
.p3{padding-left: 2px;margin-top: 35px;margin-bottom: 0px;}
.p4{padding-left: 2px;margin-top: 34px;margin-bottom: 0px;}
.p8{padding-left: 74px;padding-right: 306px;margin-top: 0px;margin-bottom: 0px;text-indent: -47px;}
.p10{margin-top: 0px;margin-bottom: 0px;}
.p11{margin-top: 35px;margin-bottom: 0px;}
.p12{margin-top: 38px;margin-bottom: 0px;}
.p13{margin-top: 30px;margin-bottom: 0px;}
.p14{margin-top: 34px;margin-bottom: 0px;}

.td0{text-align: left;padding-left: 0px;padding-right: 0px;width: 15px;}
.td1{text-align: left;padding-left: 9px;padding-right: 0px;width: 251px;}
.td2{text-align: left;padding-left: 2px;padding-right: 0px;width: 110px;}
.td3{text-align: left;padding-left: 57px;padding-right: 0px;width: 203px;}
.td4{text-align: left;padding-left: 0px;padding-right: 0px;width: 112px;}
.td5, .td6, .td7, .td8, .td9, .td10, .td11, .td12, .tdr, .tdy{border: 1pt solid black;text-align: left;padding-left: 7px;padding-right: 0px;}
.td5{width: 140px;}
.td6{width: 332px;}
.td7{width: 89px;}
.td8{width: 140px;}
.td9{width: 332px;}
.td10{width: 89px;}
.td11{width: 311px;}
.td12{width: 258px;}
.td18{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 24px;}
.tdr{width: 258px;background-color:#FF0000;color:#FFFFFF}
.tdy{width: 258px;background-color:#FFFF00}

.tr0{height: 25px;}
.tr1{height: 19px;}
.tr4{height: 41px;}
.tr6{height: 40px;}

.t0, .t1, .t3{border-collapse: collapse;}
.t0{width: 387px;margin-left: 26px;margin-top: 5px;font: 13px 'Symbol';line-height: 16px;}
.t1{width: 582px;margin-left: 26px;margin-top: 51px;}
.t3{width: 607px;}

</style>
</head>

<body>
<div id="page">

<h1>Couchbase Cluster Health Check Report</h1>
<p class="p1"><span class="ft1">Tool Version: $globals['versions']</span></p>
<p class="p0"><span class="ft1">Execution Time: $globals['report_time'].strftime("%Y-%m-%d %H:%M:%S")</span></p>
#if $globals.cluster_health == "Error"
<p class="p2"><span class="ft2">Overall cluster health: </span><span class="ft30">Immediate action needed</span></p>
#elif $globals.cluster_health == "Warning"
<p class="p2"><span class="ft2">Overall cluster health: </span><span class="ft31">Attention needed</span></p>
#else
<p class="p2"><span class="ft2">Overall cluster health: </span><span class="ft32">OK</span></p>
#end if
#if $indicator_error_exist
<h2>Couchbase &#8211; Alerts</h2>
<h3>Cluster-wide metrics</h3>
#for $counter in sorted($indicator_error.keys())
#set $error_list = $indicator_error[$counter]
#for $error_values in $error_list:
<p class="p20"><span class="ft3">$error_values["description"]</span></p>
<ul>
	<li>Symptom
#for $err_val in sorted($error_values["value"])
    <ul>
      <li>Bucket : $error_values["bucket"] , Node : $err_val["node"]</li>
      <li>Value : $err_val["value"]</li>
    </ul>
#end for
  </li>
  <li>Causes - $error_values["cause"]</li>
  <li>Impact - $error_values["impact"]</li>
	<li>Action - $error_values["action"]</li>
</ul>
#end for
#end for
#end if
<h2>Couchbase Cluster Overview</h2>
<h3>Node list</h3>
<table class="t1">
<tr class="tr6">
	<td class="td5"><span class="ft15">Node IP</span></td>
	<td class="td6"><span class="ft15">Couchbase Server Version</span></td>
	<td class="td7"><span class="ft15">Status</span></td>
</tr>
#for $node in sorted($node_list["nodeList"]["value"])
<tr class="tr6">
	<td class="td8">$node["host"]</td>
	<td class="td9">$node["version"]</td>
	<td class="td10">$node["status"]</td>
</tr>
#end for
</table>
<ul>
  <li>Total number of nodes in the cluster: $node_list["numNodes"]["value"]</li>
  <li>Number of down nodes: $node_list["numDownNodes"]["value"]</li>
  <li>Number of warming up nodes: $node_list["numWarmupNodes"]["value"]</li>
</ul>
<h3>Cluster-wide metrics</h3>
<table class="t1">
#for $key in sorted($cluster_symptoms.keys())
#set $value = $cluster_symptoms[$key]
<tr class="tr4">
	<td class="td11">$value["description"]</td>
	<td class="td12">$value["value"]</td>
</tr>
#end for
</table>
<h3>Bucket metrics</h3>
#for $bucket in sorted($bucket_list.keys())
#set $status = $bucket_list[$bucket]
<p class="p2"><span class="ft2">Bucket name: </span><span class="ft3">$bucket</span></p>
#if $status == "Error"
<p class="p10"><span class="ft2">Status &#8211; </span><span class="ft30">Immediate action needed</span></p>
#elif $status == "Warning"
<p class="p10"><span class="ft2">Status &#8211; </span><span class="ft31">Attention needed</span></p>
#else
<p class="p10"><span class="ft2">Status &#8211; </span><span class="ft32">OK</span></p>
#end if
<table class="t3">
#for $symptom in sorted($bucket_symptoms[$bucket])
<tr class="tr6">
	<td class="td18">&nbsp;</td>
	<td class="td11">$symptom["description"]</td>
#if $symptom["status"] == "Error"
	<td class="tdr">$symptom["value"]</td>
#elif $symptom["status"] == "Warning"
	<td class="tdy">$symptom["value"]</td>
#else
	<td class="td12">$symptom["value"]</td>
#end if
</tr>
#end for
</table>
#if $verbose
#for $node in sorted($bucket_node_symptoms[$bucket])
#set $node_values = $bucket_node_symptoms[$bucket][$node]
<p class="p12"><span class="ft2">IP address: $node</span></p>
#if $bucket_node_status[$bucket].has_key($node)
#if $bucket_node_status[$bucket][$node] == "Error"
<p class="p10"><span class="ft2">Status &#8211; </span><span class="ft30">Immediate action needed</span></p>
#elif $bucket_node_status[$bucket][$node] == "Warning"
<p class="p10"><span class="ft2">Status &#8211; </span><span class="ft31">Attention needed</span></p>
#else
<p class="p10"><span class="ft2">Status &#8211; </span><span class="ft32">OK</span></p>
#end if
#else
<p class="p10"><span class="ft2">Status &#8211; </span><span class="ft32">OK</span></p>
#end if
<table class="t3">
#for $node_value in sorted($node_values)
<tr class="tr6">
	<td class="td18">&nbsp;</td>
	<td class="td11">$node_value["description"]</td>
#if $node_value["status"] == "Error"
	<td class="tdr">$node_value["value"]</td>
#elif $node_value["status"] == "Warning"
	<td class="tdy">$node_value["value"]</td>
#else
	<td class="td12">$node_value["value"]</td>
#end if
</tr>
#end for
</table>
#end for
#end if
#end for
#if $indicator_warn_exist
<h2>Couchbase &#8211; Warning Indicators</h2>
<h3>Cluster-wide metrics</h3>
#for $counter in sorted($indicator_warn)
#set $warn_list = $indicator_warn[$counter]
#for $warn_values in $warn_list
<p class="p0"><span class="ft3">$warn_values["description"]</span></p>
<ul>
	<li>Symptom
#for $warn_val in sorted($warn_values["value"])
    <ul>
      <li>Bucket : $warn_values["bucket"] , Node : $warn_val["node"]</li>
      <li>Value : $warn_val["value"]</li>
    </ul>
#end for
  </li>
  <li>Causes - $warn_values["cause"]</li>
  <li>Impact - $warn_values["impact"]</li>
  <li>Action - $warn_values["action"]</li>
</ul>
#end for
#end for
#end if
</div>
</body>
</html>
